<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_SMS"
        tools:ignore="PermissionImpliesUnsupportedChromeOsHardware" />
    <uses-permission android:name="android.permission.RECEIVE_SMS"
        tools:ignore="PermissionImpliesUnsupportedChromeOsHardware" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/profile_round"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/profile_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Ecommerce"
        tools:targetApi="31">
        <activity
            android:name=".ViewAllActivity"
            android:exported="false" />
        <activity
            android:name=".DeliveryActivity"
            android:exported="false" />
        <activity
            android:name=".AddAddressActivity"
            android:exported="false" />
        <activity
            android:name=".MyAddressesActivity"
            android:exported="false" />

        <activity
            android:name=".OrderDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".CategoryActivity"
            android:exported="false" />
        <activity
            android:name=".ProductDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:label="@string/title_activity_main"
            android:screenOrientation="fullSensor"
            android:theme="@style/Theme.Ecommerce.NoActionBar"
            android:configChanges="orientation|screenSize"
            tools:ignore="DiscouragedApi" />
        <activity
            android:name=".Grocery"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false"
            android:screenOrientation="fullSensor"
            android:configChanges="orientation|screenSize"
            tools:ignore="DiscouragedApi" />
        <activity
            android:name=".Splashscreen"
            android:exported="true"
            android:screenOrientation="fullSensor"
            tools:ignore="DiscouragedApi">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>